<button type="button" class="btn btn-info boton" (click)="open(modalCreate)">
  <span class="fas fa-plus-circle"></span>
  Agregar Operacion
</button>

<!-- modal Agregar-->
<ng-template #modalCreate let-c="close" let-d="dismiss">
  <div class="modal-header ">
    <h4 class="modal-title">Agregar Operacion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label>Numero 1</label>
    <input [(ngModel)]='number1' type="text" class="form-control" placeholder="Numero 1" required>
    <br>
    <label>Signo</label>
    <input [(ngModel)]='sign' type="text" class="form-control" placeholder="Signo" required>
    <br>
    <label>Numero 2</label>
    <input [(ngModel)]='number2' type="text" class="form-control" placeholder="Numero 2" required>
    <br>
    <select class="custom-select" [(ngModel)]='answer'>
      <option *ngFor='let item of options' value="{{item.option}}" selected>{{ item.option }}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="c('Close click'); createOperation()">Operar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>

<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Id Operacion</th>
      <th>Numero 1</th>
      <th>Signo</th>
      <th>Numero 2</th>
      <th>Resultado</th>
      <th>Respuesta</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Operations">
      <td>{{item.idOperation}}</td>
      <td>{{item.number1}}</td>
      <td>{{item.sign}}</td>
      <td>{{item.number2}}</td>
      <td>{{item.result}}</td>
      <td>{{item.answer}}</td>
    </tr>
  </tbody>
</table>